/* Basic reset and 8-bit style font */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
    background-color: #121212;
    color: #f5f5f5;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

header {
    background-color: #222; 
    padding: 20px;
    text-align: left;
    margin: 0 auto;
    width: 100%; 
}


#logo {
    height: auto;
    max-width: 100%;
    max-height: 100px;
}

.card {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 8px auto;
    border-radius: 10px;
    max-width: 300px;
    transform: scale(0.9); /* Scale down the cards to 70% */
    transform-origin: center; /* Ensure the cards scale from their center */
}

#sketch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    image-rendering: pixelated;
}

.card h2, .card p {
    word-wrap: break-word;
    text-align: center;
}

.card a, .github-link {
    color: #ffffff;
    text-decoration: none;
}

.github-link {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.github-link i {
    font-size: 24px;
}

@media (max-width: 600px) {
    #logo {
        max-height: 50px; 
    }

    #sketch-container {
        grid-template-columns: 1fr;
    }

    .card {
        width: 90%;
        margin: 0 auto;
    }
}
